form {
  margin-top: 30px;
}

.user-post, .user-review {
  font-weight: bold;
}


.rating {
float: none;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color:black;
  font-size: 30px;
  
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}


